{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inventário/Editar Item{% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6>Editar Item</h6>
            </div>
          </div>
        </div>
        <div class="card-body px-5 pt-0 pb-2">
        <form method="post">
            {% csrf_token %}
            {{ edit_form|crispy}}
            <div class="row row-cols-auto" style="float: right;"><div class="col d-flex justify-content-end">
                <a 
                    href="javascript:window.history.back()"
                    class="btn btn-secondary"
                    type="submit">
                    Cancelar
                </a>
            </div>
            <div class="col d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Deletar" name="delete_item">
            </div>
            <div class="col d-flex justify-content-end">
                <button
                    class="btn btn-success"
                    name="edit_item"
                    type="submit">
                    Atualizar
                </button>
            </div>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
 </div> 
{% endblock %}