{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Movimentação/Realizar Movimentação{% endblock %}

<style>
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  table tbody {
    display: table;
    width: 100%;
}
</style>

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6> Registrar Movimentações</h6>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="card card-frame">
                  <div class="card-header pb-0">
                    <div class="row">
                      <div class="col">
                        <p>Selecione o item:</p>
                      </div>
                      <div class="col d-flex justify-content-end">
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive p-2">
                      <table class="table table-hover table-sm table-responsive align-items-center mb-0">
                        <thead>
                          <tr>
                            <th></th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descrição</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fornecedor</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Filial</th>
                            <th class="text-secondary opacity-7"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for it in itens %}
                          <tr>
                            <td><input class="form-check-input" type="radio" id="id_item" name="id_item" value="{{it.id}}"></td>
                            <td class="text-xs align-middle text-center">{{it.id}}</td>
                            <td class="text-xs align-middle text-center">{{it.descricao}}</td>
                            <td class="text-xs align-middle text-center">{{it.item_categoria.categoria}}</td>
                            <td class="text-xs align-middle text-center">{{it.item_fornecedor.fornecedor}}</td>
                            <td class="text-xs align-middle text-center">{{it.item_filial.filial}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>                
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-frame">
                  <div class="card-header pb-0">
                    <div class="row">
                      <div class="col">
                        <p>Selecione o cliente:</p>
                      </div>
                      <div class="col d-flex justify-content-end">
                        <button class="btn bg-gradient-primary btn-sm" type="button"  data-bs-toggle="modal" data-bs-target="#clientemodal">
                          Cadastrar Cliente
                        </button>
                      </div>
                    </div>
                    <div class="row form-group" style="display: inline;">
                      <form method="get">
                        <div class="row">
                          <div class="col-md-6"></div>
                            {{cpfFilter.form}}
                          </div>
                          <div class="col-md-6">
                            <button class="btn btn-secondary btn-sm" type="submit">Filtrar</button>
                          </div>
                      </form>
                    </div>
                  <div class="card-body">
                    <div class="table-responsive p-0">
                      <table class="table table-hover table-sm align-items-center mb-0">
                        <thead>
                          <tr>
                            <th></th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">CPF</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nome</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telefone</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Endereço</th>
                            <th class="text-secondary opacity-7"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for cliente in clientes %}
                          <tr>
                            <td><input class="form-check-input" type="radio" id="cpf_cliente" name="cpf_cliente" value="{{cliente.cpf}}"></td>
                            <td class="text-xs align-middle text-center">{{cliente.cpf}}</td>
                            <td class="text-xs align-middle text-center">{{cliente.nome}}</td>
                            <td class="text-xs align-middle text-center">{{cliente.telefone}}</td>
                            <td class="text-xs align-middle text-center">{{cliente.endereco}}{{numero}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row p-3 d-flex justify-content-end mt-5">
              <button class="btn bg-gradient-secondary" type="submit" style="max-width: 20%; float: right;">
                Movimentar
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div> 

 <div class="modal fade" id="clientemodal" tabindex="-1" role="dialog" aria-labelledby="clientemodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <div class="row">
              <div class="col">
                <h3 class="font-weight-bolder text-info text-gradient">Cadastrar Cliente</h3>
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              </div>                
            </div>
          </div>
          <div class="card-body form-group">
            <form role="form text-left" method="post">
              {% csrf_token %}
              {{ client_form|crispy }}
              <div class="text-center">
                <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}