{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  table tbody {
    display: table;
    width: 100%;
}
</style>

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6> Registrar Movimentações</h6>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <form action="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="card card-frame">
                  <div class="card-body">
                    <div class="table-responsive p-2">
                      <table class="table table-hover table-sm table-responsive align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descrição</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantidade</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fornecedor</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Filial</th>
                            <th class="text-secondary opacity-7"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for it in itens %}
                          <tr>
                            <td><input type="radio" name="id_item" value="{{it.id}}"></td>
                            <td class="text-xs">{{it.id}}</td>
                            <td class="text-xs">{{it.descricao}}</td>
                            <td class="text-xs">{{it.quantidade}}</td>
                            <td class="text-xs">{{it.item_categoria.categoria}}</td>
                            <td class="text-xs">{{it.item_fornecedor.fornecedor}}</td>
                            <td class="text-xs">{{it.item_filial.filial}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>                
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-frame">
                  <div class="card-body">
                    <div class="table-responsive p-0">
                      <table class="table table-hover table-sm align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">CPF</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nome</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telefone</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Endereço</th>
                            <th class="text-secondary opacity-7"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for cliente in clientes %}
                          <tr>
                            <td><input type="radio" name="cpf_cliente" value="{{cliente.cpf}}"></td>
                            <td class="text-lg">{{cliente.cpf}}</td>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.telefone}}</td>
                            <td>{{cliente.endereco}}{{numero}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div> 
  {% endblock %}