{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inventário{% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6>Itens</h6>
            </div>
            <div class="col d-flex justify-content-end">
              <button class="btn btn-icon btn-2 btn-primary" type="button"  data-bs-toggle="modal" data-bs-target="#modal-form">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="row mb-2" style="display: inline;">
            <form class="form-inline" method="get">
              <div class="form-group">
                {{myFilter.form}}
                <button class="btn btn-secondary btn-sm" type="submit">Filtrar</button>
              </div>
            </form>
          </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descrição</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fornecedor</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Filial</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data de Entrada</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for it in itens %}
                <tr>
                  <td class="align-middle text-center">{{it.id}}</td>
                  <td class="align-middle text-center">{{it.descricao}}</td>
                  <td class="align-middle text-center">{{it.item_categoria.categoria}}</td>
                  <td class="align-middle text-center">{{it.item_fornecedor.fornecedor}}</td>
                  <td class="align-middle text-center">{{it.item_filial.filial}}</td>
                  <td class="align-middle text-center">{{it.data_cadastro}}</td>
                  <td>
                    <a class="btn btn-sm" href="{% url 'edit-item' it.id %}">
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6>Categorias</h6>
            </div>
            <div class="col d-flex justify-content-end">
              <button class="btn btn-icon btn-2 btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#CategoriaModal">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center justify-content-center mb-0" style="float:left;">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Categoria</th>
                </tr>
              </thead>
              <tbody>
                {% for cat in categorias %}
                <tr>
                  <td class="align-middle text-center">{{cat.id}}</td>
                  <td class="align-middle text-center">{{cat.categoria}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6>Fornecedores</h6>
            </div>
            <div class="col d-flex justify-content-end">
              <button class="btn btn-icon btn-2 btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#FornecedorModal">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0" style="float:left;">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fornecedor</th>
                </tr>
              </thead>
              <tbody>
                {% for forn in fornecedores %}
                <tr>
                  <td class="align-middle text-center">{{forn.id}}</td>
                  <td class="align-middle text-center">{{forn.fornecedor}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6>Filiais</h6>
            </div>
            <div class="col d-flex justify-content-end">
              <button class="btn btn-icon btn-2 btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#FilialModal">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0" style="float:left;">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Filial</th>
                </tr>
              </thead>
              <tbody class="align-items-center align-middle">
                {% for filial in filiais %}
                <tr>
                  <td class="align-middle text-center">{{filial.id}}</td>
                  <td class="align-middle text-center">{{filial.filial}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <div class="row">
                <div class="col">
                  <h3 class="font-weight-bolder text-info text-gradient">Novo item</h3>
                </div>
                <div class="col d-flex justify-content-end">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                </div>                
              </div>
            </div>
            <div class="card-body form-group">
              <form role="form text-left" method="post">
                {% csrf_token %}
                {{ item_form|crispy }}
                <div class="text-center">
                  <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="CategoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Categoria</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form text-left" method="post">
            {% csrf_token %}
            {{ categoria_form|crispy }}
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn bg-gradient-primary">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="FornecedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Fornecedor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form text-left" method="post">
            {% csrf_token %}
            {{ fornecedor_form|crispy }}
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn bg-gradient-primary">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="FilialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Filial</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form text-left" method="post">
            {% csrf_token %}
            {{ filial_form|crispy }}
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn bg-gradient-primary">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}