{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col">
              <h6>Movimentações</h6>
            </div>
            <div class="col d-flex justify-content-end">
            <a href="{% url 'transaction/register' %}" class="btn btn-icon btn-2 btn-primary" type="button">
                <i class="fas fa-plus"></i>
            </a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Item</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Movimentado para</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Movimentado por</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data da Movimentaçãp</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody">
                <tr>
                  <td class="align-middle">teste</td>
                  <td>teste</td>
                  <td>teste</td>
                  <td>teste</td>
                  <td>teste</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div> 
  {% endblock %}