dash==1.19.0
dash-bootstrap-components==0.12.0
dash-core-components==1.15.0
dash-extensions==0.0.18
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
Django==3.1.7
django-autoslug==1.9.8
django-bootstrap-form==3.4
django-crispy-forms==1.11.2
django-dash==0.6.1
django-nine==0.2.4
django-plotly-dash==1.6.2
django-tinymce==3.2.0
mysqlclient==2.0.3
sqlparse==0.4.1
statsmodels==0.12.2
